app/backend/node_modules
*run-docker.sh
ML_Model_Serving/venv

ML_Model_Serving/convModelFolder/model/data
ML_Model_Serving/convModelFolder/model/imageScrapingPlayground.ipynb
ML_Model_Serving/convModelFolder/model/kerasConvModel.ipynb

.DS_Store
ML_Model_Serving/languageModelFolder/model/kerasLanguageModel.ipynb
.vscode/
*.pyc

*.egg-info