backend/venv
Backend/.env
Backend/node_modules
ML_Model_Serving/venv

ML_Model_Serving/convModelFolder/model/imageScrapingPlayground.ipynb
ML_Model_Serving/convModelFolder/model/kerasConvModel.ipynb

.DS_Store
ML_Model_Serving/languageModelFolder/model/kerasLanguageModel.ipynb
machine_learning_models_api.egg-info/
.vscode/
*.pyc