backend/venv
Backend/.env
Backend/node_modules
ML_Model_Serving/venv

ML_Model_Serving/convModel/model training/imageScrapingPlayground.ipynb
.DS_Store
ML_Model_Serving/languageModel/model/kerasLanguageModel.ipynb
