* {
    box-sizing: border-box;
}

.App {
    text-align: center;
    width: 100%;
    height: 100%;
}

:root {
    --mainBgColor: #F3F3F3;
    --accent-color-1: #5a2aa7;
    --accent-color-2: #932432;
    --accent-color-3: #ec586c; 
}
  
body, #root, html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    background-color: var(--mainBgColor);

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: var(--accent-color-1);
    color: var(--accent-color-3); 
    border-color: var(--accent-color-1);
    h2 {
        font-weight: bold;
    }
}

.ML_Model_Instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: var(--accent-color-1); 
    height: 30%;
}

#instructionsLM {
    margin-bottom: 15px;
}

#labelPokeImg {
    width: 80%;
}

#imageDisplayDiv {
    display: none; 
}
#imgLoaded {
    height: 300px;
    width: 300px;
}
#submitConv {
    display: none;
    margin-top: 20px; 
}

#spacingDiv {
    margin-top: 120px; 
}


.Model_Div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--mainBgColor);
}


#pokeImg {
    margin-top: 15px;
    display: none;
}

#conv_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonSubmitModel {
    border: 1px solid var(--accent-color-1);
    width: 15%;
    cursor: pointer;
    color: var(--accent-color-3); 
    background-color: var(--accent-color-1);
    transition: 0.3s linear;
    padding: 10px;
}

.buttonSubmitModel:hover {
    background-color: #8e54ec;
    color: #e6dddf;
}

#navbarIcon {
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
}


#DescriptionInfo {
    display: flex;
    margin-left: 10px;
}

#NavigationLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        margin-left: 15px;
        margin-right: 10px;
        text-decoration: none;
        color: var(--accent-color-3); 
        transition: 0.3s linear;
    }
    a:hover {
        transform: rotate(14deg);
    }
}


#quoteBox {
    display: flex;
    width: 450px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    font-style: italic;
    background-color: var(--accent-color-3);
    color: var(--mainBgColor);

    #quoteDisplay {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #authorDisplay {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 10px;
        p {
            margin-right: 10px;
        }
    }

    #newQuote {
        padding: 0px;
        height: 40px;
        font-size: 15px;
        margin-bottom: 20px;
        width: 100px;
    }
}

#LM_ModelDiv {
    margin-top: 90px;
}

#LanguageModel {
    width: 200px;
}