#instructionsConv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#imageDisplayDiv {
    display: none; 
}
#imgLoaded {
    height: 300px;
    width: 300px;
}
#submitConv {
    display: none;
    margin-top: 20px; 
}
#pokeImg {
    margin-top: 15px;
    display: none;
}

#conv_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#convResults {
    display: flex;
    width: 550px;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.results {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

#goBackButton {
    display: none;
    order: 2;
    margin-top: 15px;
}

.displayedResult {
    display: flex;
    justify-content: center;
    align-items: center;    
    display: none; 
    border: 5px solid orange; 
    width: 80%;
    order: 1;
    font-weight: bold;
}


#topPrediction{
    flex-direction: column;
    font-weight: normal;
    p {
        margin: 0px;
        margin-top: 15px;
    }
    #pred_result {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 26px;
        margin-top: 15px;
        padding: 5px;
    }
}
