#convResults {
    display: flex;
    width: 50%;
    justify-content: space-between;
    border: 8px solid pink;
}

.results {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}