// This SASS file contains styles for all the DOM elements contained on the convolutional route. 

#instructionsConv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;

}
#imageDisplayDiv {
    display: none; 
}

#imgLoaded {
    height: 350px;
    width: 350px;
}
#submitConv {
    display: none;
    margin-top: 20px; 
}
#pokeImg {
    margin-top: 15px;
    display: none;
}

#conv_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// Styles applied to when the user is trying to see all the probabilities returned by the algorithm for any given image
#allProbs {
    flex-direction: column;

    #container_bar_graph {
        width: 100%;
        height: auto;
    }

    #batman {
        background-color: black;
        width: 20%;
    }

    #spiderman {
        background-color: rgb(236, 105, 105);
        border-color: rgb(218, 5, 5);
    }

    #hulk {
        background-color: rgb(65, 230, 65);
        border-color: rgb(1, 138, 1);
    }

    #superman {
        background-color: rgb(96, 96, 250);
        border-color: blue;
    }

    p {
        margin-bottom: 0px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px
    }

    #descr_allprobs {
        text-align: center;
    }

    .superhero_prob_descr {
        font-size: 22px;
        text-align: left;
        animation: descr_appearance 1s ease-in-out forwards;
        color: black !important;
    }

    .probsSuperheros {
        border: 1px solid black; 
        color: black;
        width: 0%;
        height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}    


#convResults {
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.results {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-left: 10px;
}

#goBackButton {
    display: none;
    order: 2;
    margin-top: 15px;
}

.displayedResult {
    display: flex;
    justify-content: center;
    align-items: center;    
    display: none; 
    border: 5px solid orange; 
    width: 80%;
    order: 1;
    font-weight: bold;
}


// Styles applied to the DOM elements that contain the top prediction returned by the AI algorithm 
#topPrediction{
    flex-direction: column;
    font-weight: normal;
    animation: topPred 1s ease-in-out forwards; 
    padding: 35px;
    color: black;
    p {
        margin: 0px;
        margin-top: 15px;
    }
    #pred_result {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 26px;
        margin-top: 15px;
        padding: 5px;
        animation: pred_result_info 0.5s ease-in-out forwards;
    }

    #pred_info {
        animation: pred_result_info 0.5s ease-in-out forwards;
    }
}

@keyframes descr_appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pred_result_info {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
    }
}

