#convResults {
    display: flex;
    width: 550px;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.results {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

#goBackButton {
    display: none;
    order: 2;
    margin-top: 15px;
}

.displayedResult {
    display: flex;
    justify-content: center;
    align-items: center;    
    display: none; 
    border: 5px solid orange; 
    width: 80%;
    order: 1;
    font-weight: bold;
}
