* {
    box-sizing: border-box;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
}

:root {
    --mainBgColor: #F3F3F3;
    --accent-color-1: #5a2aa7;
    --accent-color-2: #932432;
    --accent-color-3: #ec586c; 
}
  
body, #root, html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    background-color: var(--mainBgColor);

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ML_Model_Instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: var(--accent-color-1); 
    height: auto;
}

#spacingDiv {
    margin-top: 120px; 
}


.Model_Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
    width: 100%;
    background-color: var(--mainBgColor);
}

.button {
    border: 1px solid var(--accent-color-1);
    width: 15%;
    cursor: pointer;
    color: var(--accent-color-3); 
    background-color: var(--accent-color-1);
    transition: 0.3s linear;
    padding: 10px;
}

.button:hover {
    background-color: #8e54ec;
    color: #e6dddf;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    li {
        width: 5%;
        margin-top: 5px;
        position: relative;
        right: 40px;
    }
}



.serverError {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
}