.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    z-index: 3;
}

.spinner div {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.spinner div:nth-child(3) {
    animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}
.spinner div:nth-child(1) {
    animation-delay: -0.15s;
}

@-webkit-keyframes loader {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

