@media(max-width:700px) {
    #NavBar {
        flex-direction: column;
        height: 15%;
        margin: 0px;
        justify-content: flex-start;

        h2 {
            margin-bottom: 0px;
        }

    }
    
    #NavigationLinks {
        flex-direction: column;

        #GenerateNames {
            margin-top: 10px;
        }
        #Recognize {
            margin-top: 2px;
         }
    }

    #LanguageModel {
        width: 30%;
    }

    #spacingDiv {
        margin-top: 150px; 
    }
}