@media(max-width:850px) {
    #NavBar {
        flex-direction: column;
        height: 15%;
        margin: 0px;
        justify-content: flex-start;

        h2 {
            margin-bottom: 0px;
            font-size: 20px;
        }

    }
    
    #NavigationLinks {
        flex-direction: column;

        #GenerateNames {
            margin-top: 10px;
        }
        #Recognize {
            margin-top: 2px;
         }
    }

    #spacingDiv {
        margin-top: 175px; 
    }
    #convResults {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
    }

    .results {
        margin: 10px;
    }

    #instructionsConv {
        margin-bottom: 0px;
    }

    #temperatureForm {
        height: 120px;
        #tempLabel {
            width: 450px;
            line-height: 30px;
        }
    }


}