* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

:root {
  --mainBgColor: #F3F3F3;
  --accent-color-1: #5a2aa7;
  --accent-color-2: #932432;
  --accent-color-3: #ec586c;
}

body, #root, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: var(--mainBgColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ML_Model_Instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: var(--accent-color-1);
  height: auto;
}

#spacingDiv {
  margin-top: 120px;
}

.Model_Div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
  width: 100%;
  background-color: var(--mainBgColor);
}

.button {
  border: 1px solid var(--accent-color-1);
  width: 15%;
  cursor: pointer;
  color: var(--accent-color-3);
  background-color: var(--accent-color-1);
  transition: 0.3s linear;
  padding: 10px;
}

.button:hover {
  background-color: #8e54ec;
  color: #e6dddf;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
}
ul li {
  width: 5%;
  margin-top: 5px;
  position: relative;
  right: 40px;
}

.serverError {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
}

#instructionsConv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#imageDisplayDiv {
  display: none;
}

#imgLoaded {
  height: 350px;
  width: 350px;
}

#submitConv {
  display: none;
  margin-top: 20px;
}

#pokeImg {
  margin-top: 15px;
  display: none;
}

#conv_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#allProbs {
  flex-direction: column;
}
#allProbs #container_bar_graph {
  width: 100%;
  height: auto;
}
#allProbs #batman {
  background-color: black;
  width: 20%;
}
#allProbs #spiderman {
  background-color: #ec6969;
  border-color: #da0505;
}
#allProbs #hulk {
  background-color: #41e641;
  border-color: #018a01;
}
#allProbs #superman {
  background-color: #6060fa;
  border-color: blue;
}
#allProbs p {
  margin-bottom: 0px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
#allProbs #descr_allprobs {
  text-align: center;
}
#allProbs .superhero_prob_descr {
  font-size: 22px;
  text-align: left;
  animation: descr_appearance 1s ease-in-out forwards;
}
#allProbs .probsSuperheros {
  border: 1px solid black;
  width: 0%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#convResults {
  display: flex;
  width: 550px;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.results {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

#goBackButton {
  display: none;
  order: 2;
  margin-top: 15px;
}

.displayedResult {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  border: 5px solid orange;
  width: 80%;
  order: 1;
  font-weight: bold;
}

#topPrediction {
  flex-direction: column;
  font-weight: normal;
}
#topPrediction p {
  margin: 0px;
  margin-top: 15px;
}
#topPrediction #pred_result {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 26px;
  margin-top: 15px;
  padding: 5px;
}

@keyframes descr_appearance {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#instructionsLM {
  margin-bottom: 15px;
}

#LM_ModelDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
}
#LM_ModelDiv #LanguageModel {
  width: 200px;
}
#LM_ModelDiv #ResultsLanguageModel {
  border: 1px solid var(--accent-color-1);
  color: var(--accent-color-3);
  background-color: white;
  padding: 5px;
  display: none;
  width: 350px;
  text-align: center;
  align-items: center;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#LM_ModelDiv #generateAgain {
  display: none;
  width: 150px;
}
#LM_ModelDiv form {
  height: auto;
  margin-top: 25px;
}

#temperatureForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 40px;
  margin-top: 25px;
}
#temperatureForm .formInputNumber {
  text-align: center;
  width: 50px;
  margin: 15px;
}
#temperatureForm .formLabel {
  width: 450px;
  color: #d33650;
  line-height: 25px;
}
#temperatureForm #submitLM {
  width: 150px;
  font-size: 20px;
}

.validationErrorLabel {
  font-weight: bold;
  color: red;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 15px;
  z-index: 3;
}

.spinner div {
  position: absolute;
  width: 64px;
  height: 64px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.spinner div:nth-child(3) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(1) {
  animation-delay: -0.15s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#quoteBox {
  display: flex;
  width: 450px;
  height: 300px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  font-style: italic;
  background-color: var(--accent-color-3);
  color: var(--mainBgColor);
}
#quoteBox #quoteDisplay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
#quoteBox #authorDisplay {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}
#quoteBox #authorDisplay p {
  margin-right: 10px;
}
#quoteBox #newQuote {
  padding: 0px;
  height: 40px;
  font-size: 15px;
  margin-bottom: 20px;
  width: 100px;
}

#NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: var(--accent-color-1);
  color: var(--accent-color-3);
  border-color: var(--accent-color-1);
  z-index: 5;
}
#NavBar h2 {
  font-weight: bold;
  position: relative;
}

#navbarIcon {
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
}

#DescriptionInfo {
  display: flex;
  margin-left: 10px;
}

#NavigationLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
#NavigationLinks a {
  margin-left: 15px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--accent-color-3);
  transition: 0.3s linear;
}
#NavigationLinks a:hover {
  transform: rotate(14deg);
}

#labelPokeImg {
  width: 80%;
}

@media (max-width: 850px) {
  #NavBar {
    flex-direction: column;
    height: auto;
    margin: 0px;
    padding: 10px;
    justify-content: flex-start;
  }
  #NavBar h2 {
    margin-bottom: 0px;
    font-size: 20px;
  }

  #NavigationLinks {
    flex-direction: column;
    margin-right: 25px;
  }
  #NavigationLinks #GenerateNames {
    margin-top: 10px;
  }
  #NavigationLinks #Recognize {
    margin-top: 2px;
  }

  #spacingDiv {
    margin-top: 175px;
  }

  #convResults {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .results {
    margin: 10px;
  }

  #instructionsConv {
    margin-bottom: 0px;
    width: 350px;
  }

  #temperatureForm {
    height: 120px;
  }
  #temperatureForm #tempLabel {
    width: 450px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=App.css.map */
